@model IEnumerable<MVC1.Models.MusicDB>

@{
    // this lands in the tab:
    ViewData["Title"] = "Views/MusicDB/Index.cshtml";
}

@* this is the main heading on the page: *@
<h2>Views/MusicDB/Index.cshtml</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album) @* display album *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist) @* display artist *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Album) @* display album *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist) @* display artist *@
            </td>
            <td>
                @* set up action links: *@
                @* Details could be used to display tracklist *@
                <a asp-action="Edit"    asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete"  asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
